@import "../base/all";

.mcb-hero-block {

	.no-posts {
		background-color: var(--wp--preset--color--tertiary);
		color: var(--wp--preset--color--black);
		text-align: center;
		padding: 40px 16px;
		width: 100%;

		.heading {
			font-size: 18px;
			line-height: 1.2;
			margin: 0;
		}
	}
}

.mcb-articles {
	display: flex;
    flex-direction: column;
    width: calc( 30% - 32px );
    padding: 0 16px;
	min-height: 400px;
	justify-content: space-between;
    height: 550px;

	.mcb-articles-loop {
		height: 100%;
	}

	.mcb-article {
		display: flex;
		padding: 16px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--wp--preset--color--tertiary);
		}

		.heading {
			font-size: 16px;
			margin: 0;
		}

		time {
			font-size: 10px;
			text-transform: uppercase;
			color: var(--wp--preset--color--tertiary);
		}
	}

	&-footer {
		margin-top: 16px;
	}
}

.mcb-main-stage {
	display: flex;
	width: 100%;

	.mcb-stage-override {
		position: absolute;
	}

	.mcb-stage-remove {
		left: 44px;
		background-color: var(--wp--preset--color--vivid-red);
		color: #fff;
	}

	.stage {
		max-width: 70%;
		width: 100%;

		.feature-image {
			min-height: 500px;
			width: 100%;
			background-color: var(--wp--preset--color--tertiary);

			img {
				width: 100%;
				height: 500px;
				object-fit: cover;
				display: block;
			}
		}

		.headline {
			padding: 16px 40px;

			.heading {
				font-size: 32px;
				line-height: 1.2;
				margin: 0;
			}
		}
	}

	.view-all {
		font-size: 12px;
		margin-top: 16px;
		padding-inline: 16px;
	}

	.articles-header {
		font-size: 16px;
		text-transform: uppercase;
	}
}

.mcb-link-with-text {
	display: flex;
	align-items: center;

	input {
		border: none !important;
	}

	.components-base-control__field {
		margin-bottom: 0 !important;
	}

	button {
		margin-right: 8px;
	}
}

.is-uppercase input {
	text-transform: uppercase !important;
}