@import "../base/all";
@import "../animations/all";

.mcb-hero-block {
	display: flex;

	.featured {
		max-width: calc(100% - 320px);
		position: relative;

		.stickyImage {
			position: sticky;
			top: 0;
			height: 600px;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 10;
				background-color: var(--wp--preset--color--tertiary);
				animation: 1s forwards curtainPull ease;
				will-change: transform;
			}
		}

		img {
			width: 100%;
			height: 630px;
			position: absolute;
			max-height: calc( 100% - 4px );
			animation: 1s forwards imageZoom ease;
		}

		header {
			top: 600px; // 500px;
			position: sticky;
			background-color: var(--wp--preset--color--white);

			h1 {
				margin: 0;
				font-size: 48px;
				line-height: 1.2;
				padding: 16px calc( ( 100vw - 1200px ) / 2 );

				@media ( max-width: 1200px ) {
					padding-inline: 16px;
				}
			}
		}
	}

	.aside {
		padding: 16px 40px;
	}

	.aside-heading {
		font-size: 14px;
		margin-bottom: 16px;
		letter-spacing: 1px;
		opacity: 0;
		animation: 0.8s 0.8s forwards articleListSide ease;
	}

	&-list {
		min-width: 320px;
		list-style: none;
		display: flex;
		flex-direction: column;

		article {
			padding-bottom: 16px;
			margin-bottom: 16px;
			opacity: 0;
			animation: 0.8s 1s forwards articleListSide ease;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.86 + (0.06s * $i);
				}
			}

			a:focus-visible,
			a:hover {

				~ .title-container .title {
					border-bottom-color: rgba(156,25,25,.8);
				}
			}

			time {
				font-size: 12px;
			}

			.title-container {
				display: block;
			}

			.title {
				font-size: 16px;
				margin: 0;
				padding-bottom: 2px;
				text-decoration: none;
				transition: .2s ease;
				display: inline;

				border-bottom: 1px solid transparent;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--wp--preset--color--tertiary);
			}
		}
	}
}

.link {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000 !important;
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: 0.2s ease-in-out border-bottom-color;
	padding-bottom: 2px;

	&:hover,
	&:focus-visible {
		border-bottom-color: rgba(156,25,25,.8);
	}
}


.faux-link {
	visibility: visible;
	white-space: nowrap;
	position: absolute;
	text-indent: 200%;
	overflow: hidden;
	display: block;
	opacity: 0;
	z-index: 2;
	inset: 0;

	&--element {
		position: relative;

		a:not(.faux-link) {
			position: relative;
			z-index: 3;
		}
	}
}