
.mcb-hero-block {
	display: flex;

	&--featured {
		width: 100%;
		max-width: calc(100% - 320px);
		position: relative;

		.stickyImage {
			position: sticky;
			top: 0;
			height: 600px;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 10;
				background-color: var(--wp--preset--color--tertiary);
				will-change: transform;

				@media (prefers-reduced-motion: no-preference) {
					animation: 1s forwards curtainPull ease;
				}
			}
		}

		img {
			width: 100%;
			height: 630px;
			position: absolute;
			max-height: calc( 100% - 4px );
			animation: 1s forwards imageZoom ease;
			will-change: transform;

			@media (prefers-reduced-motion: no-preference) {
				animation: 1s forwards imageZoom ease;
			}
		}

		header {
			top: 600px;
			position: sticky;
			background-color: var(--wp--preset--color--white);

			h1 {
				margin: 0;
				font-size: 48px;
				line-height: 1.2;
				padding: 16px calc( ( 100vw - 1200px ) / 2 );

				@media ( max-width: 1200px ) {
					padding-inline: 16px;
				}
			}
		}
	}

	&--aside {
		padding: 16px 40px;

		.aside-heading {
			font-size: 14px;
			margin-bottom: 16px;
			letter-spacing: 1px;
			opacity: 1;
			transform: translate(0);
			will-change: transform, opacity;

			@media (min-width: 990px) and (prefers-reduced-motion: no-preference) {
				animation: 0.8s 0.8s backwards articleListSide ease;
			}
		}
	}

	&--list {
		min-width: 320px;
		list-style: none;
		display: flex;
		flex-direction: column;

		.view-all {
			@media (min-width: 990px) and (prefers-reduced-motion: no-preference) {
				animation: 0.8s 1s backwards articleListSide ease;
			}
		}

		article {
			padding-bottom: 16px;
			margin-bottom: 16px;
			opacity: 1;
			transform: translate(0);
			will-change: transform, opacity;

			@media (min-width: 990px) and (prefers-reduced-motion: no-preference) {
				animation: 0.8s 1s backwards articleListSide ease;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.86 + (0.06s * $i);
				}
			}

			a:focus-visible,
			a:hover {

				~ .title-container .title {
					color:  var(--wp-preset-color-whitehouse-red) !important;
					border-bottom-color: var(--wp-preset-color-whitehouse-red);
				}
			}

			time {
				font-size: 12px;
			}

			.title-container {
				display: block;
			}

			.title {
				font-size: 16px;
				margin: 0;
				padding-bottom: 2px;
				text-decoration: none;
				transition: .2s ease;
				display: inline;

				border-bottom: 1px solid transparent;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--wp--preset--color--tertiary);
			}
		}
	}
}