h1, h2, h3, h4, h5, .heading {
	font-family: 'Playfair Display', serif;
	font-weight: 700 !important;
}

.is-playfair {
	font-family: 'Playfair Display', serif;
}

.is-roboto {
	font-family: 'Roboto', sans-serif;
}

.is-uppercase {
	text-transform: uppercase;
}