.link {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000 !important;
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: 0.2s ease-in-out border-bottom-color;
	padding-bottom: 2px;
	outline-color: var(--wp-preset-color-whitehouse-red);

	&:hover,
	&:focus-visible {
		color:  var(--wp-preset-color-whitehouse-red) !important;
		border-bottom-color: var(--wp-preset-color-whitehouse-red);
	}
}

.faux-link {
	visibility: visible;
	white-space: nowrap;
	position: absolute;
	text-indent: 200%;
	overflow: hidden;
	display: block;
	opacity: 0;
	z-index: 2;
	inset: 0;

	&:focus-visible {
		opacity: 1;
		outline-color: var(--wp-preset-color-whitehouse-red);
	}

	&--element {
		position: relative;

		a:not(.faux-link) {
			position: relative;
			z-index: 3;
		}
	}
}

.is-block {
	display: block;
}

.is-inline-block {
	display: inline-block;
}